<a href="https://colab.research.google.com/github/diogosouzaesilva/python_deepdive/blob/main/nomeacao_variaveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Nomeando
laranja, melao, limao = 1,2,3
print(laranja, melao, limao)

1 2 3

In [3]:
morango = uva = kiwi = 100
print(morango, uva, kiwi)

100 100 100

In [6]:
#Nomear com Listas
lista_carros = ['VW', 'Audi', 'Jaguar']
marca_01, marca_02, marca_03 = lista_carros
print(marca_01, marca_02, marca_03)

VW Audi Jaguar

In [8]:
#Combinar Vari√°veis
nome = 'Diogo'
sobrenome = ' Souza'
nome_completo = nome+sobrenome
print(nome_completo)

Diogo Souza

In [10]:
nome = 'Diogo'
idade = 22
nome+str(idade)

'Diogo22'

In [11]:
investimento = 1000
taxa_juros = 0.2
investimento*taxa_juros

200.0